.container{
    z-index: 223;
    height: calc(100vh - 120px);
    background-color: red;
    overflow: hidden;
 
}
.arrowContainer{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
.wrapper{
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1.5s ease-in-out;
}
.mainContainer{
    width: 100vw;
    height: 100%;
    position: relative;
    z-index: 33;
}
.imgContainer{
position: absolute;
    
}
.titleContainer{
    position: absolute;
   left: 15%;
    bottom:10%;
    color: white;
    font-weight: bold;
    z-index: 23;
}
.accessoir{
    font-size: 40px;
    text-align: center;
}
.title{
    font-size: 70px;
    font-weight: 600;
    padding: 0;
}
.reduct{
    margin-left: 80px;
    font-size:30px ;
}
.callToAction{
    background-color: white;
    cursor: pointer;
    border: none;
    color: rgb(83, 67, 67);
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    width: 350px;
    margin-top: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-left: 10px;
    z-index: 578;
    transition: all 0.3s ease;
}
.callToAction:hover{
  transform: scale(1.05);
}

@media screen and (max-width:393px){


    .titleContainer{
        position: absolute;
        left: 15%;
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .arrowContainer{
        position: absolute;
        top: 0;
        bottom: 70px;
        margin: auto;
        cursor: pointer;
    }
    .arrowLeft{
       width: 36px;
    }
    .arrowRight{
        width: 36px;
      
    }
    .reduct{
        margin-left: 0;
    }

    .accessoir{
        font-size: 20px;
      
    }
    .title{
        font-size: 40px;
        
    }
    .callToAction{
        width: 250px;
    }
  
   .image{
       display: none;
   }  
}

@media (min-width:394px)and (max-width:412px){


    .titleContainer{
        position: absolute;
        left: 15%;
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
    .arrowContainer{
        position: absolute;
        top: 0;
        bottom: 70px;
        margin: auto;
        cursor: pointer;
    }
    .arrowLeft{
       width: 38px;
    }
    .arrowRight{
        width: 38px;
      
    }
    .reduct{
        margin-left: 0;
    }

    .accessoir{
        font-size: 20px;
      
    }
    .title{
        font-size: 40px;
        
    }
    .callToAction{
        width: 250px;
    }
  
   .image{
       display: none;
   }  
}
@media (min-width:413px) and (max-width:480px){
    .titleContainer{
        position: absolute;
        left: 20%;
        bottom: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .arrowContainer{
        position: absolute;
        top: 0;
        bottom: 80px;
        margin: auto;
        cursor: pointer;
    }
    .arrowLeft{
       width: 40px;
    }
    .arrowRight{
        width: 40px;
      
    }
    .reduct{
        margin-left: 0;
    }

    .accessoir{
        font-size: 20px;
      
    }
    .title{
        font-size: 40px;
        
    }
    .callToAction{
        width: 250px;
    }
  
   .image{
       display: none;
   }  
}