.container{
    height: calc(100vh - 120px);
    background-color: #222;
    display: flex;
    cursor: pointer;
}
.item{
    flex:1;
    position: relative;
    display: flex;
}
.item:last-child{
    flex: 2;
    padding: 100px;
    justify-content: space-between;
}
.card{
    flex: 1;
    padding: 0 20px;
}
.title{
    font-size: 18px;
    color: #b7903c;
}
.text{
    font-size: 20px;
    color: lightgray;
}
.motto{
    color: #fff;
}